html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

body {
    height: 800px;
    width: 800px;
}
#canvas {
    height: 100%;
    width: 100%;
    border: solid red 2px;
}